/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,400;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Titillium+Web:wght@300&display=swap');


html , body { 
    font-family:"Nunito" , sans-serif;

    height: 100%;
}

html { 
    background-image: url('./assets/trianglify-lowres.png');
    background-size: cover;
    /* keeps the cover stable while scrolling*/
    overflow-y: auto !important;
    margin: 0;
    padding: 0;
} 